<!-- <div> This is a footer </div> -->
<footer class="container-fluid text-white bg-color-purpleMix">
    <section class="px-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2024 Copyright: NG Kin Pak & LI Yinxi
              <a class="text-white" href="https://mdbootstrap.com/"
                 ></a
                >
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Github -->
            <a href="https://github.com/PeterNg2333/CSCI4140-CLIP-Frame-Identifier"
                class="btn text-light border-white rounded-circle btn-floating m-1"
                class="text-white"
                role="button">
                <i class="fa-brands fa-github"></i>
            </a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
</footer>