<il class="mb-3 row ps-0 inVideoItem"  >
    <div class="col-6" style="padding-left: 0px;padding-right: 0px;">
      <img src="https://cloudinary-marketing-res.cloudinary.com/images/w_1000,c_scale/v1679921049/Image_URL_header/Image_URL_header-png?_i=AA" 
              class="" 
              width="80px"
              height="60px"
              alt="...">
    </div>
    <div class="col-6 px-0 pt-1">
        <h6 class="card-title mb-0">Card title</h6>
        <p class="card-text"><small class="text-muted">-0.01</small></p>
    </div>

</il>