<nav class="container-fluid bg-color-purpleMix py-1 m-0 fixed-top">
    <div class="navbar py-0 row">
        <a class="navbar-brand Header me-0 col-md-3 col-sm-6" href="./Home">
            <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="logo" width="38" height="38" class="d-inline-block align-text-top">
            <span class="text-white" id="App-Name"> FrameFinder.AI </span>
        </a>
        
        <form class="form-inline col-md-6 col-sm-6 px-md-3" id="searchBar" method="get" action="./videoSearch"  >
            <div class="input-group px-md-3 px-md-6 input-group-rounded">
                <input class="form-control mr-sm-2 input-group-field" type="search" placeholder="Find video(s) and frame(s) by description..." aria-label="Search">
                <button class="btn btn-outline-light text-white my-2 my-sm-0 input-group-button" type="submit">Search</button>
            </div>
        </form>
        
        <div class="col-md-3 col-sm-0"> 
            <div class="row">
                <div class="text-end pe-3">
                    <span class="me-1">
                        <div class="btn text-white my-2 my-sm-0 rounded btn-outline-light  px-3" onclick="updateYTURL()"> Upload <i class="fa-solid fa-upload"></i></div>
                    </span>
                    <span  id="jumpToVideoEditor">
                        <a href="./videoEditor" class="btn text-white my-2 my-sm-0 rounded bg-blue-purple-mix blue-purple-mix px-3" > Smart Editor <i class="fa-solid fa-video ps-1"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    {%  include('components/uploadDialog.html') %}


</nav>