<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% if title == APP_CONFIG["title_choices"]["Player"] %}
    <script src="{{ url_for('static', filename='js/videoPlayer.js') }}"></script>
{% endif %}
{% if title == APP_CONFIG["title_choices"]["Search"] %}
    <script src="{{ url_for('static', filename='js/videoSearch.js') }}"></script>
{% endif %}
{% if title == APP_CONFIG["title_choices"]["Editor"] %}
    <script src="{{ url_for('static', filename='js/videoEditor.js') }}"></script>
    <script> 
        document.querySelector('#searchBar').innerHTML = ""
        document.querySelector('#jumpToVideoEditor').innerHTML = ""
        document.querySelector('#App-Name').innerHTML = `FrameFinder.AI - 
                                                            <a 
                                                                href="./videoEditor" 
                                                                class="btn text-white rounded bg-blue-purple-mix blue-purple-mix p-1 " 
                                                                style="font-size: 1.05rem ;margin-top: auto; margin-bottom: auto; margin-top: -6px; color:black!important;"
                                                            > 
                                                                Smart Editor 
                                                                <i class="fa-solid fa-video ps-1"></i>
                                                            </a>`
    </script>
{% endif %}