<div class="col-3 px-2 py-3 videoItem" >
    <div class="px-2 card border-dark rounded bg-dark"  onclick="window.location.href='/videoPlayer'">
        <div class="image-container"> 
            <img src="https://cloudinary-marketing-res.cloudinary.com/images/w_1000,c_scale/v1679921049/Image_URL_header/Image_URL_header-png?_i=AA" class="card-img-top rounded-image" alt="...">
            <span class="caption-leftTop border-dark rounded">Your Caption Here</span>
            <span class="caption-rightTop border-dark rounded">{{i*5}} m</span>
        </div>
        <div class="card-body row">
            <h5 class="card-title col-8">Card Title - {{i}}</h5>
            <p class="text-end card-title col-4"> <i class="fa-solid fa-eye" style="color: #ffffff;"></i> {{i*12}} K </p>
        </div>
    </div>
</div>