<!DOCTYPE html>
<html>
    <head>
        {% include './components/Head.html' %}
    </head>
    <body>

        <!-- Navigation -->
        {% include './components/Nav.html' %}

        <!-- Page Content -->
        
        {% if title == APP_CONFIG["title_choices"]["Home"] %}
            {% include './home.html' %}
        {% elif title == APP_CONFIG["title_choices"]["Player"] %}
            {% include './videoPlayer.html' %}
        {% elif title == APP_CONFIG["title_choices"]["Search"] %}
            {% include './videoSearch.html' %}
        {% elif title == APP_CONFIG["title_choices"]["Editor"] %}
            {% include './videoEditor.html' %}
        {% endif %}


        <!-- Footer -->
        {% include './components/Footer.html' %}
    
        <!-- Scripts -->
        {% include './components/Scripts.html' %}
    </body>
</html>