<main class="container-fluid bg-dark text-white full-height pt-2">
    <div class="row pt-3">
        <section class="col-4" id="sideFunction">
            sideFunction
        </section>
        <div class="col-8" id="videoEditor">
            <section class="row" id="videoDisplay">
                Video Display
            </section>
            <section class="row" id="videoControls">
                Video Controls
            </section>
        </div>
                        
    </div>
</main>
