<main class="container-fluid bg-dark text-white full-height pt-2">
    <section class="row pt-3">
        <div class="col-xl-2 col-lg-0" style="background-color: #212121;"> </div>
        <div class="col-xl-8 col-lg-12 player video-container" style="height:100%;">
            <video 
                id="videoPlayer" 
                class="" 
                controls 
                autoplay
                preload="metadata" 
                width="100%" 
                height="100%" 
                poster="{{ video_mata['thumbnail'] }}">
                <source src="{{ url_for('static', filename='video/'+video_query) }}" type="video/mp4">
            </video>
            <div class="controls inVideoControl-center pt-2">
                <div class="controls-btn row"> <!--align-items-center justify-content-center  margin-left: auto; margin-right: auto;-->
                   <button
                       class="controls_btn playPauseBtn border-white rounded-circle text-white col-2"
                       title="Toggle Play"
                       style="font-size: 100%; "  
                       > <i class="fa-solid fa-play"></i>
                   </button>
                   

                </div>
            </div>

            <div class="controls inVideoControl-bottom">
                <div class="px-3">
                    <div class="bar pb-3">
                        <div class="col-2 controls-timer">
                            <span class="text-white"><span class="current-time">0:00</span> / <span class="duration">0:00</span></span>
                        </div>
                        <div class="col-8"></div>
                        <div class="col-2" style="margin-left: auto; position:relative"  >
                            <button
                                class="text-white col-2"
                                id="fullScreenBtn"
                                title="Toggle Play"
                                style="position: absolute; right: 0px; background: none; border: none;"
                                onclick="toggleFullScreen()"
                                > <i class="fa-solid fa-expand"></i>
                            </button>
                        </div>  
                    </div>

                    <div class="controls-progress bar" > 
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>  



            <section id="inVideoSearcher" class="inVideoControl-side controls py-1 bg-halfdark">
                <span id="openinVideoSearcher" class="blue-purple-mix px-3" ><i  class="fa-solid fa-angles-left "  onclick="openVideoSearcher()"></i> </span>
                <div id="inVideoSearcherContent" class="py-2 ps-2 pe-2 " style="display: none;">
                    <div class="inVideoSearcherContent-header row">
                        <div id="openinVideoSearcher" class="blue-purple-mix d-inline col-2"><i  class="fa-solid fa-angles-right "  onclick="closeVideoSearcher()"></i> </div>
                        <div class="col-10 py-1 ps-1">
                            <div class="inVideoSearcherInput">
                                <input class="text-white bg-dark rounded border border-white" placeholder="Find frames" id="text-query-searchFrame"></input>
                                <span class="ps-1"><i class="fa-solid fa-magnifying-glass" onclick="getInVideoFrames(event)"></i></span>
                            </div>
                            <div class="pt-3 inVideoSearchResult" style="overflow-y: scroll; min-height: 200px; overflow-x: hidden;">
                                <ul class="ps-1" id="videoFrames">
                                    <p class="blue-purple-mix" id="innearText"> Type it, Find it </p>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-xl-2 col-lg-0" style="background-color: #212121;"> </div>
    </section>
</main>

