<main class="container-fluid bg-dark text-white full-height pt-3">
    <section class="row pt-3">
        <div class="col-xl-2 col-lg-0"> </div>
        <div class="col-xl-8 col-lg-12 player video-container" style="height:100%;" id="video-container">
            <div class="pt-3" id="loading">
                <img src="https://i.pinimg.com/originals/49/23/29/492329d446c422b0483677d0318ab4fa.gif" 
                        class="bg-dark pt-3" 
                        width="350px"
                        height="260px"
                        alt="..."
                        style="margin-left: auto; margin-right: auto; display: block; "
                        >
                 <div class="text-white text-center" style="margin-top: -70px;"> Searching - Please wait ... </div>
             </div>
        </div>
        <div class="col-xl-2 col-lg-0"> </div>


    </section>
</main>