/* This css file is used to style the index.html file and other common styles */
.bg-color-purpleMix {
    color: #fff;
    /* Apply a linear gradient background to the element */
    background: -webkit-linear-gradient(110deg, #212121 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #212121 70%, #212121 70%);
    background: -o-linear-gradient(110deg, #212121 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #212121 70%, #212121 70%);
    background: -moz-linear-gradient(110deg, #212121 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #0F0F0F 70%, #212121 70%);
    background: linear-gradient(110deg, #212121 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #212121 70%, #212121 70%);
}

.bg-color-darkgray{
  background: #333333;
}

.full-height {
    min-height: 90vh;
}

.Header {
    font-size: 160%;
    font-weight: bold;
    display: inline;
}

.px-md-6 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

/* For the Navbar */
.fixed-nav {
  position: sticky;
}

/* For the Video Card */
.rounded-image {
    border-radius: 12%;
}

.image-container {
  position: relative;
  display: inline-block; /* or block depending on your layout */
}

.caption-leftTop {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.65); /* semi-transparent black background */
  color: white; /* white text color */
  padding: 5px; /* some padding around the text */
  font-size: 0.8em; /* smaller font size */
}

.caption-rightTop {
  position: absolute;
  bottom: 15px;
  right: 15px; /* Aligns the caption to the top-right corner */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  color: white; /* White text color */
  padding: 5px; /* Some padding around the text */
  font-size: 0.8em; /* Smaller font size */
}

/* For the Home page */
.blue-purple-mix{
    font-weight: bold;
    /* Apply a linear gradient as the background for a visually appealing effect */
    background: linear-gradient(to right, #2ABDFE 0%, #9865FE 100%);
    /* Clip the background to the text to apply the gradient to the text only */
    -webkit-background-clip: text;
    background-clip: text;
    /* Make the text color transparent to reveal the gradient underneath */
    color: transparent;
}



.bg-blue-purple-mix{
  background: linear-gradient(to right, #2ABDFE 0%, #9865FE 100%);
  color: white !important;
}

.text-lightgray {
    color: #79797e;
}

main {
  margin-top: 52px;
}

/* For the Video Card */
.videoItem:hover img {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}

.videoItem:hover .card-body .card-title {
  opacity: 0.8;
}



/* For the search bar */




.input-group-rounded {
  /* Styles for the input field within the input group */
  .input-group-field {
    border: 2.5px solid #185CC7 !important;
    border-right: 3px solid #185CC7 !important;
    /* Apply a large border radius to the left side to create a pill-like shape */
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }

  /* Styles for the button within the input group */
  .input-group-button {
    border: 2.5px solid #9C0AFF !important;
    border-left: 1.5px solid #9C0AFF !important;
    /* Ensure the gradient encompasses the border properly */
    border-image-slice: 1;
    border-radius: 0 5000px 5000px 0 !important;

    background-color: black !important;
    background: linear-gradient(to right, #2ABDFE 0%, #9865FE 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 1.15rem;
    font-weight: bold;

    padding-top: 2px;
    padding-bottom: 2px;
  }

  /* Hover styles for the button within the input group */
  .input-group-button:hover {
    /* Maintain the linear gradient background on hover for consistency */
    background: linear-gradient(to right, #2ABDFE 0%, #9865FE 100%);
    /* Change the text color to white on hover for better visibility */
    color: rgb(255, 255, 255) !important;
    /* Set the Webkit-specific text fill color to white for visibility on hover */
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
  }
}

/* For the Video Player */
.video-container {
  padding: 0;
  position: relative;
  display: inline-block; /* or block depending on your layout */
}

.inVideoControl-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inVideoControl-bottom {
  position: absolute;
  bottom: 0%;
  left: 0px;
  right: 0px;
  padding-bottom: 2%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

.inVideoControl-side {
  position: absolute;
  top: 5%;
  right: 0px;
}

.bg-halfdark{
  background-color: #0f0f0fe0 !important;
  opacity: 0.75 !important;
}



#openinVideoSearcher{
  font-size: 1.4em;
}

.inVideoControl-bottom .bar {
  width: 100%;
  display: flex;
}

.inVideoControl-bottom div .progress {
  width: 100%;
  height: 4px;
  border-radius: 5px;
}

.inVideoControl-bottom div .progress:hover{
  cursor: pointer;
  height: 8px;
}

.inVideoControl-center button {
  background-color: rgba(134, 128, 128, 0.5);
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto
}

.inVideoSearcherInput{
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

.progress {
  background-color: rgba(211, 211, 211, 0.616);
}

.progress-bar {
  background-color: #ffffff;

}

#fullScreenBtn{
  margin: auto;

}

#playPauseBtn:hover{
  width: 1.2em;
  height: 1.2em;
}


.controls {
  visibility: visible;
}

/* // Show the controls on hover and persist for a short duration */
.controls-disabled .controls {
  visibility: hidden;
  transition: visibility 1s ease;

}

.video-container:hover .controls {
  visibility: visible !important;
}


.video-controls .play-button {
  display: none;
}

.inVideoSearchResult::-webkit-scrollbar { 
  width: 5px; 
} 



/* Responsive Design */
/* For the .inVideoSearchResult */
/* In smaller screens */
@media (max-width: 768px) {
  .inVideoSearchResult {
    max-height: 280px;
  }
}

/* In middle screens */
@media (min-width: 768px) and (max-width: 992px) {
  .inVideoSearchResult {
    max-height: 300px;
  }
}

/* In larger screens */
@media (min-width: 1000px)  and (max-width: 1500px){
  .inVideoSearchResult {
    max-height: 330px;
  }
}

/* In extra large screens */
@media (min-width: 1600px) and (max-width: 1900px) {
  .inVideoSearchResult {
    max-height: 420px;
  }

  .searchItem-frame{
    height: 80px !important;
    width: 100px !important;
  }
}

/* Extra large screens */
@media (min-width: 1900px) {
  .inVideoSearchResult {
    max-height: 500px;
  }

  .searchItem-frame{
    height: 105px !important;
    width: 130px !important;
  }

  .searchItemCard{
    font-size: 1.2rem;
  }
}



/* for Search Results */

/* .VideoSearchResult-frame{
    flex-wrap: wrap;

} */

.SearchResult-frame::-webkit-scrollbar {
  height: 5px !important;
}

.SearchResult-frame::-webkit-scrollbar-track {
  background: #2125298f; 
}
 

.SearchResult-frame::-webkit-scrollbar-thumb {
  background: #888; 
}


.SearchResult-frame::-webkit-scrollbar-thumb:hover {
  background: #fffdfd; 
}

.searchItem:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

/* for Video Editor */

.videoHover:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.searchItem:hover .card-body .card-title {
opacity: 0.8;
}

.videoClip:active {
  background-color: #ddd; /* Simulates click effect */
}

.videoClipClicked{
  border: 2px solid #e6e9ee;
  box-shadow: 0 0 10px rgba(194, 191, 191, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.videoClip::-webkit-scrollbar {
  width: 5px !important;
}

.videoClip::-webkit-scrollbar-track {
  background: #2125298f; 
}
 

.videoClip::-webkit-scrollbar-thumb {
  background: #888; 
}


.videoClip::-webkit-scrollbar-thumb:hover {
  background: #fffdfd; 
}

.purple-blue-mix-border {
  border: 2px solid #9865FE ;
}

.mixplaceholder::placeholder {
  font-weight: bold;
  /* Apply a linear gradient as the background for a visually appealing effect */
  background: linear-gradient(to right, #2ABDFE 0%, #9865FE 100%);
  /* Clip the background to the text to apply the gradient to the text only */
  -webkit-background-clip: text;
  background-clip: text;
  /* Make the text color transparent to reveal the gradient underneath */
  color: transparent;
  opacity: 0.8;
}

.frame-clicked div{
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.display{
  position: relative;
}

.insidethumbnail{
  position: absolute;
  bottom: 4px;
  right: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  font-size: 0.8em;
}

.insidethumbnail-video{
  position: absolute;
  bottom: 11px;
  right: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  font-size: 0.8em;
}

.hover-shadow:hover {
  box-shadow: 0 0 20px rgba(221, 220, 220, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}